In [1]:
import pandas as pd
import ast # import abstract syntax tree. it will helps the data into real python objects
!pip install openpyxl
import openpyxl
print('This cell is done')

Requirement already satisfied: openpyxl in /Users/rohit/tensorflow_test_cpu/tf/lib/python3.8/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/rohit/tensorflow_test_cpu/tf/lib/python3.8/site-packages (from openpyxl) (2.0.0)
This cell is done

In [2]:
# Load your Excel file
input_data = "./Car_Dheko_datasets/bangalore_cars.xlsx"
df = pd.read_excel(input_data, engine='openpyxl')

output_data = "./Car_Dheko_datasets/std_bangalore_cars.csv"

# Function to flatten the dictionary with unique keys
def flatten_dict(d, parent_key='', separator='_'):  #d - dictionary, separator - joining the keys
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{separator}{key}' if parent_key else key
        if isinstance(value, dict):  #check the value in another dictionary using isinstance function
            items.extend(flatten_dict(value, new_key, separator=separator).items())
        elif isinstance(value, list):
            for i, item in enumerate(value): #Returns a generator that yields pairs (index,value) for each element.
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', separator=separator).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, value))
    return dict(items)

# Columns to process
columns_to_process = ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']

# Initialize an empty list to store the flattened data
flattened_data = []

# Iterate through the DataFrame and flatten the necessary columns
for index, row in df.iterrows():
    flattened_row = {}
    for column in columns_to_process:
        #converting the text data into a Python dictionary using ast.literal_eval of rows in specified columns
        unstd_data = ast.literal_eval(row[column])
        # Flatten dictionary and append column name to avoid overwriting
        flattened_row.update(flatten_dict(unstd_data, parent_key=column))
    flattened_data.append(flattened_row)

# Create a DataFrame from the flattened data
std_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
std_df['car_links'] = df['car_links']

# Add the 'City' column
std_df['City'] = 'Bangalore'

# Save the merged DataFrame to a CSV file
std_df.to_csv(output_data, index=False)

# Display the merged DataFrame
df1 = pd.read_csv("./Car_Dheko_datasets/std_bangalore_cars.csv")
df1

,new_car_detail_it,new_car_detail_ft,new_car_detail_bt,new_car_detail_km,new_car_detail_transmission,new_car_detail_ownerNo,new_car_detail_owner,new_car_detail_oem,new_car_detail_model,new_car_detail_modelYear,...,new_car_specs_data_1_list_8_value,new_car_feature_data_2_list_23_value,new_car_feature_data_2_list_24_value,new_car_feature_data_2_list_25_value,new_car_feature_data_2_list_26_value,new_car_feature_data_0_list_32_value,new_car_feature_data_0_list_33_value,new_car_feature_data_0_list_34_value,car_links,City
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,0,Diesel,SUV,"1,56,039",Manual,2,2nd Owner,Toyota,Toyota Fortuner,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1477,0,Petrol,Sedan,"56,000",Manual,2,2nd Owner,Maruti,Maruti SX4,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1478,0,Petrol,Hatchback,"42,000",Manual,2,2nd Owner,Honda,Honda Brio,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1479,0,Diesel,Hatchback,"93,003",Manual,1,1st Owner,Hyundai,Hyundai i20,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1480,0,Petrol,Hatchback,"36,000",Automatic,2,2nd Owner,Hyundai,Hyundai Grand i10,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore

In [3]:
# Load your Excel file
input_data = "./Car_Dheko_datasets/chennai_cars.xlsx"
df = pd.read_excel(input_data, engine='openpyxl')

output_data = "./Car_Dheko_datasets/std_chennai_cars.csv"

# Function to flatten the dictionary with unique keys
def flatten_dict(d, parent_key='', separator='_'):  #d - dictionary, separator - joining the keys
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{separator}{key}' if parent_key else key
        if isinstance(value, dict):  #check the value in another dictionary using isinstance function
            items.extend(flatten_dict(value, new_key, separator=separator).items())
        elif isinstance(value, list):
            for i, item in enumerate(value): #Returns a generator that yields pairs (index,value) for each element.
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', separator=separator).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, value))
    return dict(items)

# Columns to process
columns_to_process = ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']

# Initialize an empty list to store the flattened data
flattened_data = []

# Iterate through the DataFrame and flatten the necessary columns
for index, row in df.iterrows():
    flattened_row = {}
    for column in columns_to_process:
        #converting the text data into a Python dictionary using ast.literal_eval of rows in specified columns
        unstd_data = ast.literal_eval(row[column])
        # Flatten dictionary and append column name to avoid overwriting
        flattened_row.update(flatten_dict(unstd_data, parent_key=column))
    flattened_data.append(flattened_row)

# Create a DataFrame from the flattened data
std_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
std_df['car_links'] = df['car_links']

# Add the 'City' column
std_df['City'] = 'Chennai'

# Save the merged DataFrame to a CSV file
std_df.to_csv(output_data, index=False)

# Display the merged DataFrame
df1 = pd.read_csv("./Car_Dheko_datasets/std_chennai_cars.csv")
df1

,new_car_detail_it,new_car_detail_ft,new_car_detail_bt,new_car_detail_km,new_car_detail_transmission,new_car_detail_ownerNo,new_car_detail_owner,new_car_detail_oem,new_car_detail_model,new_car_detail_modelYear,...,new_car_feature_data_4_list_16_value,new_car_feature_data_4_list_17_value,new_car_feature_data_4_list_18_value,new_car_feature_data_0_list_33_value,new_car_feature_data_3_list_44_value,new_car_feature_data_0_list_34_value,new_car_feature_data_0_list_35_value,new_car_feature_data_0_list_36_value,car_links,City
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Chennai
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Chennai
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,0,Petrol,Hatchback,"42,891",Automatic,1,1st Owner,Maruti,Maruti Swift,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai
1415,0,Diesel,SUV,"59,100",Manual,1,1st Owner,Renault,Renault Duster,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai
1416,0,Petrol,SUV,"55,913",Automatic,1,1st Owner,Tata,Tata Nexon,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai
1417,0,Diesel,SUV,"65,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Tiguan,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai
1418,0,Diesel,Sedan,"60,000",Automatic,1,1st Owner,BMW,BMW 3 Series GT,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai

In [4]:
# Load your Excel file
input_data = "./Car_Dheko_datasets/delhi_cars.xlsx"
df = pd.read_excel(input_data, engine='openpyxl')

output_data = "./Car_Dheko_datasets/std_delhi_cars.csv"


# Function to flatten the dictionary with unique keys
def flatten_dict(d, parent_key='', separator='_'):  #d - dictionary, separator - joining the keys
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{separator}{key}' if parent_key else key
        if isinstance(value, dict):  #check the value in another dictionary using isinstance function
            items.extend(flatten_dict(value, new_key, separator=separator).items())
        elif isinstance(value, list):
            for i, item in enumerate(value): #Returns a generator that yields pairs (index,value) for each element.
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', separator=separator).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, value))
    return dict(items)

# Columns to process
columns_to_process = ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']

# Initialize an empty list to store the flattened data
flattened_data = []

# Iterate through the DataFrame and flatten the necessary columns
for index, row in df.iterrows():
    flattened_row = {}
    for column in columns_to_process:
        #converting the text data into a Python dictionary using ast.literal_eval of rows in specified columns
        unstd_data = ast.literal_eval(row[column])
        # Flatten dictionary and append column name to avoid overwriting
        flattened_row.update(flatten_dict(unstd_data, parent_key=column))
    flattened_data.append(flattened_row)

# Create a DataFrame from the flattened data
std_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
std_df['car_links'] = df['car_links']

# Add the 'City' column
std_df['City'] = 'Delhi'

# Save the merged DataFrame to a CSV file
std_df.to_csv(output_data, index=False)

# Display the merged DataFrame
df1 = pd.read_csv("./Car_Dheko_datasets/std_delhi_cars.csv")
df1

,new_car_detail_it,new_car_detail_ft,new_car_detail_bt,new_car_detail_km,new_car_detail_transmission,new_car_detail_ownerNo,new_car_detail_owner,new_car_detail_oem,new_car_detail_model,new_car_detail_modelYear,...,new_car_feature_data_3_list_45_value,new_car_feature_data_3_list_46_value,new_car_feature_data_3_list_47_value,new_car_feature_data_4_list_16_value,new_car_feature_data_4_list_17_value,new_car_feature_data_4_list_18_value,new_car_feature_data_4_list_19_value,new_car_feature_data_4_list_20_value,car_links,City
0,0,Diesel,SUV,"10,000",Automatic,1,1st Owner,Kia,Kia Seltos,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi
1,0,Petrol,SUV,"57,437",Manual,2,2nd Owner,Hyundai,Hyundai Creta,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Delhi
2,0,Petrol,SUV,"8,000",Automatic,1,1st Owner,Mercedes-Benz,Mercedes-Benz GLC,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi
3,0,Petrol,Hatchback,"28,151",Manual,2,2nd Owner,Maruti,Maruti Swift,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Delhi
4,0,Petrol,SUV,"60,000",Manual,1,1st Owner,Hyundai,Hyundai Creta,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,0,Petrol,Sedan,"60,000",Automatic,1,1st Owner,Honda,Honda City,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi
1481,0,Petrol,SUV,"20,000",Manual,1,1st Owner,Kia,Kia Sonet,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi
1482,0,Petrol,Sedan,"60,000",Manual,1,1st Owner,Hyundai,Hyundai Verna,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi
1483,0,Diesel,SUV,"38,000",Manual,1,1st Owner,Hyundai,Hyundai Creta,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi
1484,0,Diesel,SUV,"7,000",Automatic,0,0th Owner,MG,MG Gloster,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi

In [5]:
# Load your Excel file
input_data = "./Car_Dheko_datasets/hyderabad_cars.xlsx"
df = pd.read_excel(input_data, engine='openpyxl')

output_data = "./Car_Dheko_datasets/std_hyderabad_cars.csv"

# Function to flatten the dictionary with unique keys
def flatten_dict(d, parent_key='', separator='_'):  #d - dictionary, separator - joining the keys
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{separator}{key}' if parent_key else key
        if isinstance(value, dict):  #check the value in another dictionary using isinstance function
            items.extend(flatten_dict(value, new_key, separator=separator).items())
        elif isinstance(value, list):
            for i, item in enumerate(value): #Returns a generator that yields pairs (index,value) for each element.
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', separator=separator).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, value))
    return dict(items)

# Columns to process
columns_to_process = ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']

# Initialize an empty list to store the flattened data
flattened_data = []

# Iterate through the DataFrame and flatten the necessary columns
for index, row in df.iterrows():
    flattened_row = {}
    for column in columns_to_process:
        #converting the text data into a Python dictionary using ast.literal_eval of rows in specified columns
        unstd_data = ast.literal_eval(row[column])
        # Flatten dictionary and append column name to avoid overwriting
        flattened_row.update(flatten_dict(unstd_data, parent_key=column))
    flattened_data.append(flattened_row)

# Create a DataFrame from the flattened data
std_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
std_df['car_links'] = df['car_links']

# Add the 'City' column
std_df['City'] = 'Hyderabad'

# Save the merged DataFrame to a CSV file
std_df.to_csv(output_data, index=False)

# Display the merged DataFrame
df1 = pd.read_csv("./Car_Dheko_datasets/std_hyderabad_cars.csv")
df1

,new_car_detail_it,new_car_detail_ft,new_car_detail_bt,new_car_detail_km,new_car_detail_transmission,new_car_detail_ownerNo,new_car_detail_owner,new_car_detail_oem,new_car_detail_model,new_car_detail_modelYear,...,new_car_feature_data_4_list_17_value,new_car_feature_data_4_list_18_value,new_car_specs_data_1_list_8_key,new_car_specs_data_1_list_8_value,new_car_feature_data_0_list_30_value,new_car_feature_data_0_list_31_value,new_car_feature_data_3_list_38_value,new_car_feature_data_3_list_39_value,car_links,City
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Hyderabad
2,0,Petrol,SUV,"10,000",Manual,1,1st Owner,Hyundai,Hyundai Venue,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad
3,0,Petrol,Hatchback,"50,750",Manual,1,1st Owner,Maruti,Maruti Baleno,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Hyderabad
4,0,Petrol,SUV,"10,000",Automatic,1,1st Owner,Mahindra,Mahindra Thar,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Mahindra,Mahindra XUV500,2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad
1479,0,Diesel,Sedan,"50,000",Automatic,1,1st Owner,Jaguar,Jaguar XF,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad
1480,0,Diesel,Sedan,"1,20,000",Automatic,3,3rd Owner,BMW,BMW 5 Series,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad
1481,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Tata,Tata Nexon,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad
1482,0,Diesel,MUV,"1,00,000",Manual,1,1st Owner,Toyota,Toyota Innova,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad

In [6]:
# Load your Excel file
input_data = "./Car_Dheko_datasets/jaipur_cars.xlsx"
df = pd.read_excel(input_data, engine='openpyxl')

output_data = "./Car_Dheko_datasets/std_jaipur_cars.csv"

# Function to flatten the dictionary with unique keys
def flatten_dict(d, parent_key='', separator='_'):  #d - dictionary, separator - joining the keys
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{separator}{key}' if parent_key else key
        if isinstance(value, dict):  #check the value in another dictionary using isinstance function
            items.extend(flatten_dict(value, new_key, separator=separator).items())
        elif isinstance(value, list):
            for i, item in enumerate(value): #Returns a generator that yields pairs (index,value) for each element.
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', separator=separator).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, value))
    return dict(items)

# Columns to process
columns_to_process = ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']

# Initialize an empty list to store the flattened data
flattened_data = []

# Iterate through the DataFrame and flatten the necessary columns
for index, row in df.iterrows():
    flattened_row = {}
    for column in columns_to_process:
        #converting the text data into a Python dictionary using ast.literal_eval of rows in specified columns
        unstd_data = ast.literal_eval(row[column])
        # Flatten dictionary and append column name to avoid overwriting
        flattened_row.update(flatten_dict(unstd_data, parent_key=column))
    flattened_data.append(flattened_row)

# Create a DataFrame from the flattened data
std_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
std_df['car_links'] = df['car_links']

# Add the 'City' column
std_df['City'] = 'Jaipur'

# Save the merged DataFrame to a CSV file
std_df.to_csv(output_data, index=False)

# Display the merged DataFrame
df1 = pd.read_csv("./Car_Dheko_datasets/std_jaipur_cars.csv")
df1

,new_car_detail_it,new_car_detail_ft,new_car_detail_bt,new_car_detail_km,new_car_detail_transmission,new_car_detail_ownerNo,new_car_detail_owner,new_car_detail_oem,new_car_detail_model,new_car_detail_modelYear,...,new_car_feature_data_2_list_25_value,new_car_feature_data_4_list_14_value,new_car_specs_data_1_list_9_key,new_car_specs_data_1_list_9_value,new_car_specs_data_1_list_10_key,new_car_specs_data_1_list_10_value,new_car_specs_data_1_list_11_key,new_car_specs_data_1_list_11_value,car_links,City
0,0,Diesel,Hatchback,"1,20,000",Manual,2,2nd Owner,Hyundai,Hyundai i20,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur
1,0,Petrol,Hatchback,"66,951",Manual,1,1st Owner,Maruti,Maruti Swift,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Jaipur
2,0,Petrol,Hatchback,"80,000",Automatic,2,2nd Owner,Maruti,Maruti Celerio,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur
3,0,Petrol,Hatchback,"44,392",Manual,1,1st Owner,Hyundai,Hyundai Grand i10,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Jaipur
4,0,Petrol,Hatchback,"40,000",Automatic,1,1st Owner,Maruti,Maruti Wagon R,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Chevrolet,Chevrolet Beat,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur
1116,0,Petrol,Hatchback,"70,000",Manual,1,1st Owner,Maruti,Maruti Alto,2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur
1117,0,Petrol,SUV,"20,000",Manual,1,1st Owner,Renault,Renault Kiger,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur
1118,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Alto,2009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur
1119,0,Petrol,Hatchback,"80,000",Manual,1,1st Owner,Maruti,Maruti Baleno,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur

In [7]:
# Load your Excel file
input_data = "./Car_Dheko_datasets/kolkata_cars.xlsx"
df = pd.read_excel(input_data, engine='openpyxl')

output_data = "./Car_Dheko_datasets/std_kolkata_cars.csv"

# Function to flatten the dictionary with unique keys
def flatten_dict(d, parent_key='', separator='_'):  #d - dictionary, separator - joining the keys
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{separator}{key}' if parent_key else key
        if isinstance(value, dict):  #check the value in another dictionary using isinstance function
            items.extend(flatten_dict(value, new_key, separator=separator).items())
        elif isinstance(value, list):
            for i, item in enumerate(value): #Returns a generator that yields pairs (index,value) for each element.
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', separator=separator).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, value))
    return dict(items)

# Columns to process
columns_to_process = ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']

# Initialize an empty list to store the flattened data
flattened_data = []

# Iterate through the DataFrame and flatten the necessary columns
for index, row in df.iterrows():
    flattened_row = {}
    for column in columns_to_process:
        #converting the text data into a Python dictionary using ast.literal_eval of rows in specified columns
        unstd_data = ast.literal_eval(row[column])
        # Flatten dictionary and append column name to avoid overwriting
        flattened_row.update(flatten_dict(unstd_data, parent_key=column))
    flattened_data.append(flattened_row)

# Create a DataFrame from the flattened data
std_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
std_df['car_links'] = df['car_links']

# Add the 'City' column
std_df['City'] = 'Kolkata'

# Save the merged DataFrame to a CSV file
std_df.to_csv(output_data, index=False)

# Display the merged DataFrame
df1 = pd.read_csv("./Car_Dheko_datasets/std_kolkata_cars.csv")
df1

,new_car_detail_it,new_car_detail_ft,new_car_detail_bt,new_car_detail_km,new_car_detail_transmission,new_car_detail_ownerNo,new_car_detail_owner,new_car_detail_oem,new_car_detail_model,new_car_detail_modelYear,...,new_car_feature_data_4_list_16_value,new_car_feature_data_4_list_17_value,new_car_feature_data_4_list_18_value,new_car_feature_data_0_list_33_value,new_car_feature_data_3_list_41_value,new_car_feature_data_3_list_42_value,new_car_feature_data_3_list_43_value,new_car_feature_data_3_list_44_value,car_links,City
0,0,Petrol,Sedan,"70,000",Automatic,3,3rd Owner,Toyota,Toyota Camry,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
1,0,Petrol,Hatchback,"23,981",Manual,1,1st Owner,Datsun,Datsun RediGO,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Kolkata
2,0,Petrol,SUV,"7,100",Automatic,1,1st Owner,Renault,Renault Kiger,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
3,0,Petrol,Hatchback,"71,574",Manual,2,2nd Owner,Hyundai,Hyundai i20,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Kolkata
4,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Audi,Audi Q3,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
1377,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
1378,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
1379,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
1380,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata

In [8]:
csv_files = [
    "./Car_Dheko_datasets/std_bangalore_cars.csv",
    "./Car_Dheko_datasets/std_chennai_cars.csv",
    "./Car_Dheko_datasets/std_delhi_cars.csv",
    "./Car_Dheko_datasets/std_hyderabad_cars.csv",
    "./Car_Dheko_datasets/std_jaipur_cars.csv",
    "./Car_Dheko_datasets/std_kolkata_cars.csv"]

# Read each CSV file into a DataFrame and store it in a list
df = [pd.read_csv(file) for file in csv_files]

# Concatenate all DataFrames in the list
combined_df = pd.concat(df, ignore_index=True)

# Define the output path
output_path = "./Car_Dheko_datasets/Car_Dheko.csv"

# Save the combined DataFrame to a CSV file
combined_df.to_csv(output_path, index=False)

print('Done')

Done